// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}
.shadow{
  box-shadow: 0 0 1px 0 rgba(132, 19, 88, 0.10), 0 2px 6px -2px rgba(69, 40, 160, 0.10) !important;
}
#wrapper #content-wrapper{
  background-color: #f3f1f4;
}
.card{
  border: 0;
border-radius: 0.25rem;
}

// Forms
.primary-solid-btn {
  border: 1px solid transparent;
  background-color: #343a40;
  color: #fff;
  }
  .primary-solid-btn:hover {
  background: transparent;
  color: #000;
  border-color: #343a40;
  }
  .spt_contact_form .gray-light-bg {
  background: #f6f6f6;
  }
  .spt_contact_form .form-control {
  border-color: #ebebeb;
  padding: 0.75rem 0.85rem;
  height: calc(2.56em + 0.75rem + 2px);
  }
  .spt_contact_form textarea.form-control{
     height: 100%;
  }